<div class="block-ui-overlay">
</div>
<div class="block-ui-message-container" aria-live="assertive" aria-atomic="true">
    <div class="block-ui-message" ng-class="$_blockUiMessageClass">
<!--        <img src="/images/img_loader.png">-->
        <div id="cssload-pgloading">
            <div class="cssload-loadingwrap">
                <ul class="cssload-bokeh">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>