<div class="keyword-view">
    <div class="column-list-wrap" ng-if="mainKeywordLists.length > 0">
        <ul>
            <li class="keyword-list" ng-if="$index%listColumnLength == 0" ng-repeat="listItem in mainKeywordLists track by $index">
                <div keyword-list></div>
            </li>
        </ul>
    </div>
    <div class="column-list-wrap" ng-if="mainKeywordLists.length > 0">
        <ul>
            <li class="keyword-list" ng-if="$index%listColumnLength == 1" ng-repeat="listItem in mainKeywordLists track by $index">
                <div keyword-list></div>
            </li>
        </ul>
    </div>
    <div class="column-list-wrap" ng-if="mainKeywordLists.length > 0 && listColumnLength >= 4">
        <ul>
            <li class="keyword-list" ng-if="$index%listColumnLength == 2" ng-repeat="listItem in mainKeywordLists track by $index">
                <div keyword-list></div>
            </li>
        </ul>
    </div>
    <div class="column-list-wrap" ng-if="mainKeywordLists.length > 0 && listColumnLength >= 4">
        <ul>
            <li class="keyword-list" ng-if="$index%listColumnLength == 3" ng-repeat="listItem in mainKeywordLists track by $index">
                <div keyword-list></div>
            </li>
        </ul>
    </div>
</div>
