<ion-modal-view id="provide-info-dialog" class="modal">
    <ion-header-bar class="bar bar-positive">
        <h1 class="title">정보제공?</h1>
        <button class="button button-primary" ng-click="closeProvideDialog()">
            <i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content class="dialog-content">
        <p>
            정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 정보제공? 
        </p>
        <div class="btn-wrap">
            <button class="button button-full" ng-click="closeProvideDialog()">확인</button>
        </div>
    </ion-content>
</ion-modal-view>