<ion-modal-view id="push-dialog" class="modal">
    <ion-header-bar class="bar bar-positive">
        <h1 class="title">푸시알림?</h1>
        <button class="button button-primary" ng-click="closePushDialog()">
            <i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content class="dialog-content">
        <p>
            푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 푸시알림? 
        </p>
        <div class="btn-wrap">
            <button class="button button-full" ng-click="closePushDialog()">확인</button>
        </div>
    </ion-content>
</ion-modal-view>